

COMPOSE_PROJECT_NAME=teslo_shop
DB_PASSWORD=MYSECRET3PASSWORD24@??23S
DB_NAME=TesloDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

BCRYPT_SALT_ROUNDS=10

JWT_SECRET=MYSECRET3JWT24@??23S
JWT_EXPIRES_IN=2h